<?xml version='1.0' encoding='UTF-8'?>
<matrix-project plugin="matrix-project@1.12">
  <actions/>
  <description>builds bitstreams with many different configurations and tests this images on real HW</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <com.coravy.hudson.plugins.github.GithubProjectProperty plugin="github@1.28.1">
      <projectUrl>https://github.com/open-power/snap/</projectUrl>
      <displayName></displayName>
    </com.coravy.hudson.plugins.github.GithubProjectProperty>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>BRANCH</name>
          <description>Choose the branch you want to test. Please do not use wildcards!!</description>
          <defaultValue>master</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>TEST_ON_HW</name>
          <description>enable/disable testing on HW</description>
          <defaultValue>false</defaultValue>
        </hudson.model.BooleanParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
    <hudson.plugins.throttleconcurrents.ThrottleJobProperty plugin="throttle-concurrents@2.0.1">
      <maxConcurrentPerNode>1</maxConcurrentPerNode>
      <maxConcurrentTotal>20</maxConcurrentTotal>
      <categories class="java.util.concurrent.CopyOnWriteArrayList">
        <string>THROTTLE_IMG</string>
      </categories>
      <throttleEnabled>true</throttleEnabled>
      <throttleOption>category</throttleOption>
      <limitOneJobWithMatchingParams>false</limitOneJobWithMatchingParams>
      <matrixOptions>
        <throttleMatrixBuilds>false</throttleMatrixBuilds>
        <throttleMatrixConfigurations>true</throttleMatrixConfigurations>
      </matrixOptions>
      <paramsToUseForLimit></paramsToUseForLimit>
      <configVersion>1</configVersion>
    </hudson.plugins.throttleconcurrents.ThrottleJobProperty>
  </properties>
  <scm class="hudson.plugins.git.GitSCM" plugin="git@3.7.0">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <url>https://github.com/open-power/snap</url>
        <credentialsId>fhaverkamp</credentialsId>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>${BRANCH}</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <submoduleCfg class="list"/>
    <extensions>
      <hudson.plugins.git.extensions.impl.RelativeTargetDirectory>
        <relativeTargetDir>snap</relativeTargetDir>
      </hudson.plugins.git.extensions.impl.RelativeTargetDirectory>
      <hudson.plugins.git.extensions.impl.PruneStaleBranch/>
      <hudson.plugins.git.extensions.impl.CleanBeforeCheckout/>
    </extensions>
  </scm>
  <canRoam>true</canRoam>
  <disabled>true</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers>
    <com.cloudbees.jenkins.GitHubPushTrigger plugin="github@1.28.1">
      <spec></spec>
    </com.cloudbees.jenkins.GitHubPushTrigger>
  </triggers>
  <concurrentBuild>true</concurrentBuild>
  <customWorkspace>/afs/bb/proj/fpga/framework/CI_ws/SNAP_IMG_TEST_matrix/test/${BRANCH}</customWorkspace>
  <axes>
    <hudson.matrix.TextAxis>
      <name>ACT</name>
      <values>
        <string>hdl_example.SDRAM</string>
        <string>hdl_example.BRAM</string>
        <string>hdl_example.NORAM</string>
        <string>hdl_example.SDRAM.NVME</string>
        <string>hdl_nvme_example.SDRAM.NVME</string>
        <string>hls_nvme_memcopy</string>
        <string>hls_memcopy</string>
        <string>hls_bfs</string>
        <string>hls_intersect_s</string>
        <string>hls_intersect_h</string>
        <string>hls_hashjoin</string>
        <string>hls_search</string>
        <string>hls_sponge</string>
        <string>hls_helloworld</string>
        <string>test</string>
      </values>
    </hudson.matrix.TextAxis>
    <hudson.matrix.TextAxis>
      <name>CRD</name>
      <values>
        <string>ADKU3</string>
        <string>N250S</string>
        <string>S121B</string>
      </values>
    </hudson.matrix.TextAxis>
  </axes>
  <combinationFilter>ACT=~&quot;hls&quot; || CRD==&quot;N250S&quot; &amp;&amp; ACT==&quot;nvme&quot;  || ACT=~&quot;hdl&quot; || ACT==&quot;test&quot; &amp;&amp; CRD==&quot;ADKU3&quot;</combinationFilter>
  <builders>
    <hudson.tasks.Shell>
      <command>set +x
#!/bin/bash
echo &quot;***********************************************************&quot;
echo &quot;Checking Build with Card=$CRD Action=$ACT&quot;
NAME=$(echo $GIT_BRANCH| cut -d&apos;/&apos; -f 2 |tr &apos;[:upper:]&apos; &apos;[:lower:]&apos;) # remove origin/ from branch and translate to lowercase
PREFIX=$(echo $NAME| cut -d&apos;_&apos; -f 1)    # chars up to first &apos;_&apos; identify need for test

#if [ &quot;$NAME&quot; == &quot;master&quot; ] || 
#   [ &quot;$PREFIX&quot; == &quot;rc&quot; ] ||
#   [ $ACT =~ $PREFIX ] || 
#   [ $CRD =~ $PREFIX ];then BSKIP=0;else BSKIP=1;fi
#if [ $BRANCH == &quot;&quot; ];then BSKIP=1;fi             
BSKIP=0
echo &quot;branch=$BRANCH git_branch=$GIT_BRANCH branch_prefix=$PREFIX SKIP=$BSKIP&quot;

case &quot;$CRD:$ACT&quot; in
  N250SP:* )             ASKIP=1;;
  N250S:*NVME* )         ASKIP=0;;
  *:hdl_example* )       ASKIP=0;;
  *:hls_memcopy )        ASKIP=0;;
  *:hls_bfs )            ASKIP=0;;
  *:hls_hashjoin )       ASKIP=0;;
  *:hls_intersect_h )    ASKIP=0;;
  *:hls_intersect_s )    ASKIP=0;;
  *:hls_search )         ASKIP=0;;
  *:hls_sponge )         ASKIP=0;;
  *:hls_blowfish )       ASKIP=1;;
  *:hls_helloworld )     ASKIP=1;;
  *:test )               ASKIP=0;;
  * )                    ASKIP=0;;
esac            
echo &quot;card=$CRD action=$ACT SKIP=$ASKIP&quot;

case &quot;$ACT&quot; in
  test ) 
    gitnames=`git ls-remote https://github.com/open-power/snap|grep &quot;refs/heads/&quot;|awk &apos;{print $2}&apos;`
    echo &quot;gitnames=$gitnames&quot;
    for dir in &quot;/afs/bb/proj/fpga/framework/CI_ws/SNAP_IMG_TEST_matrix/test/&quot;/*;do
      if [ -d &quot;$dir&quot; ];then
        branch=&quot;refs/heads/&quot;`basename $dir`
        if [[ &quot;$gitnames&quot; =~ &quot;$branch&quot; ]];then echo &quot;branch=$branch found in gitnames, keep dir=$dir&quot;
        else 
          echo &quot;branch=$branch not found in gitnames, delete dir=$dir&quot;
          rm -rf $dir &gt;/dev/null 2&gt;&amp;1 &amp;
        fi
      fi
    done  
    DSKIP=0;;
  *&quot;hls_intersect&quot;* )     
    if [ -f snap/defconfig/$CRD.hls_intersect.defconfig ];then DSKIP=0
    else 
      echo &quot;$CRD.hls_intersect.defconfig does not exist&quot;
      ls snap/defconfig/
      DSKIP=1
    fi;;  
  * )    
    if [ -f snap/defconfig/$CRD.$ACT.defconfig ];then DSKIP=0
    else 
      echo &quot;$CRD.$ACT.defconfig does not exist&quot;
      ls snap/defconfig/
      DSKIP=1
    fi;;  
esac
echo &quot;defconfig SKIP=$DSKIP&quot;

AFSused=`fs lq /afs/bb/proj/fpga/framework/CI_ws/SNAP_IMG_TEST_matrix/test/|grep -v Used|awk &apos;{print $4}&apos;|sed &apos;s/%//g&apos;|sed &apos;s/&lt;//g&apos;`
echo &quot;AFS spaced currently used=${AFSused}%&quot;
if [ &quot;$AFSused&quot; -gt &quot;95&quot; ];then
  echo &quot;ERROR: AFS space is used up ${AFSused}%, stopping additional builds&quot;
  exit 1
else if(( AFSused &gt; 80 ));then echo &quot;WARNING: AFS space is used up ${AFSused}%&quot;;fi
fi

if [ &quot;$ASKIP&quot; == &quot;1&quot; ] || [ &quot;$DSKIP&quot; == &quot;1&quot; ] || [ &quot;$BSKIP&quot; == &quot;1&quot; ];then SKIP=1;else SKIP=0;fi
echo &quot;SKIP=$SKIP&quot; &gt;export_props.properties
echo &quot;properties passed to next shell:&quot;
cat export_props.properties
echo &quot;***********************************************************&quot;</command>
    </hudson.tasks.Shell>
    <EnvInjectBuilder plugin="envinject@2.1.5">
      <info>
        <propertiesFilePath>export_props.properties</propertiesFilePath>
      </info>
    </EnvInjectBuilder>
    <org.jenkinsci.plugins.conditionalbuildstep.singlestep.SingleConditionalBuilder plugin="conditional-buildstep@1.3.6">
      <condition class="org.jenkins_ci.plugins.run_condition.core.BooleanCondition" plugin="run-condition@1.0">
        <token>$SKIP</token>
      </condition>
      <buildStep class="org.jenkins_ci.plugins.fail_the_build.FixResultBuilder" plugin="fail-the-build-plugin@1.0">
        <defaultResultName>ABORTED</defaultResultName>
        <success></success>
        <unstable></unstable>
        <failure></failure>
        <aborted></aborted>
      </buildStep>
      <runner class="org.jenkins_ci.plugins.run_condition.BuildStepRunner$Fail" plugin="run-condition@1.0"/>
    </org.jenkinsci.plugins.conditionalbuildstep.singlestep.SingleConditionalBuilder>
    <hudson.tasks.Shell>
      <command>set +x                            # reduce Jenkins output
ulimit -c unlimited               # limit core dumps
export PATH=$PATH:/usr/local/bin  # python3 needs this path setup
export USERHOME=`pwd`
export SNAP_ROOT=$USERHOME/snap

echo &quot;****************************************************************************************&quot;
echo &quot;LSF SETUP ...&quot;
export PATH=$PATH:/usr/local/bin:/home/lsfbb/prod/9.1/linux2.6-glibc2.3-x86_64/bin
export LSF_SERVERDIR=/home/lsfbb/prod/9.1/linux2.6-glibc2.3-x86_64/etc
export LSF_LIBDIR=/home/lsfbb/prod/9.1/linux2.6-glibc2.3-x86_64/lib
export LD_LIBRARY_PATH=$LD_LIBRARY_PATH:/home/lsfbb/prod/9.1/linux2.6-glibc2.3-x86_64/lib
export LSF_BINDIR=/home/lsfbb/prod/9.1/linux2.6-glibc2.3-x86_64/bin
export LSF_SUBMITTER_OSTYPE=Linux
export LSF_ENVDIR=/home/lsfbb/prod/conf
LSF=&quot;-P zsort&quot;
LSF+=&quot; -M 20&quot;                     # 20GB memory
LSF+=&quot; -C 2000&quot;                   # 2MB core file
LSF+=&apos; -R type=X86_64 -R span[hosts=1]&apos;
LSF+=&quot; -I -n 8&quot;

echo &quot;****************************************************************************************&quot;
echo &quot;Get PSL Simulation Environment ...&quot;
rm -rf pslse
case $CRD in 
  &apos;N250SP&apos;)
    echo &quot;cloning PSLSE for PSL9&quot;
#   git clone -b master https://github.com/ibm-capi/pslse pslse
    git clone -b capi2  https://github.com/ibm-capi/pslse pslse
    export PSLVER=9                        # PSL8 and PSL9 merged in branch=capi2 since 12dec2017
    ;;
  *)
    echo &quot;cloning PSLSE for PSL8&quot;
    git clone -b master https://github.com/ibm-capi/pslse pslse
    cd pslse; git checkout v3.1; cd ..     # tempfix see issues #98/99/100
#   git clone -b capi2  https://github.com/ibm-capi/pslse pslse
#   export PSLVER=8                        # PSL8 and PSL9 merged in branch=capi2 since 12dec2017
    ;;
esac
cd ${SNAP_ROOT}
echo &quot;export PSLSE_ROOT=$USERHOME/pslse&quot; &gt;snap_env.sh
echo &quot;export PSL_DCP=/afs/bb/proj/fpga/framework/cards/$CRD/latest/b_route_design.dcp&quot; &gt;&gt;snap_env.sh
echo &quot;#setup: XILINX_LOCAL_USER_DATA=${XILINX_LOCAL_USER_DATA}, overwrite=no to prevent write access error in XilincTclStore (tclapp:load_apps)&quot; &gt;&gt;snap_env.sh
echo &quot;export XILINX_LOCAL_USER_DATA=no&quot; &gt;&gt; snap_env.sh

echo &quot;****************************************************************************************&quot;
echo &quot;Vivado SETUP ...&quot;
case $CRD in 
  &apos;N250SP&apos;)   export VIV_VERSION=&quot;2017.4&quot;;;
  &apos;S121B&apos;)    export VIV_VERSION=&quot;2017.4&quot;;;
  *)          export VIV_VERSION=&quot;2017.4&quot;;;    
esac
export XILINX_ROOT=/afs/bb/proj/fpga/xilinx
export XILINXD_LICENSE_FILE=2100@pokwinlic1.pok.ibm.com
source $XILINX_ROOT/Vivado/${VIV_VERSION}/settings64.sh

echo &quot;****************************************************************************************&quot;
echo &quot;Build Simulation Model ...&quot;
case $ACT in          # select config &amp; compile action
  &quot;test&quot;)             echo &quot;*T E S T  **skip image build /test&quot;
                      NOW=`date`
                      exit 0
                      ;;
  &apos;hls_intersect_h&apos;)  make $CRD.hls_intersect.defconfig
                      source ./snap_env.sh        # execute to exploit ACTION_ROOT
                      echo &quot;action compile intersect hash&quot;;
                      make -C ${ACTION_ROOT} clean config_h
                      ;;
  &apos;hls_intersect_s&apos;)  make $CRD.hls_intersect.defconfig
                      source ./snap_env.sh        # execute to exploit ACTION_ROOT
                      echo &quot;action compile intersect sort&quot;;
                      make -C ${ACTION_ROOT} clean config_s
                      ;;
  *&quot;nvme&quot;*|*&quot;NVME&quot;*)  echo &quot;export SIMULATOR=nosim&quot; &gt;&gt; snap_env.sh
                      make $CRD.$ACT.defconfig
                      ;;
  *)                  make $CRD.$ACT.defconfig;;
esac

echo &quot;****************************************************************************************&quot;
echo &quot;Build Image ...&quot;
bsub $LSF -J &quot;${CRD}_${ACT}_image&quot; &quot;make image&quot;

echo &quot;****************************************************************************************&quot;
echo &quot;test_on_hw=${TEST_ON_HW} for card=$CRD&quot;    
if [ &quot;$TEST_ON_HW&quot; == &quot;false&quot; ] ||        # no test for any card
   [ &quot;$CRD&quot;        == &quot;S121B&quot; ]; then   # no test/card avail yet
   echo &quot;no test required&quot;; exit 0;
fi
BINFILE=`ls $SNAP_ROOT/hardware/build/Images/*.bin`
IMAGE=&quot;/opt/fpga/snap/${CRD}/${ACT}/&quot;
echo &quot;COPY RESULTS $BINFILE to $IMAGE on tul2&quot;
rsync -tvh $BINFILE fpga@tul2:$IMAGE
NOW=`date`
IMAGE=&quot;/opt/fpga/snap/${CRD}/${ACT}/&quot;`basename $BINFILE`
TESTBOX=tul2
LOCK=&quot;jenkins.lock&quot;
#
# Set unique target directory such that parallel builds do not disturb each other.
# Well, we might to clean up those from time to time ...
#
TARGET_DIR=&quot;${JOB_NAME}-${BUILD_NUMBER}-${GIT_BRANCH}&quot;
export TARGET_DIR=`echo $TARGET_DIR | sed -e &apos;s/[=,\/]/-/g&apos;`
echo &quot;TARGET_DIR=${TARGET_DIR}&quot;
echo &quot;Current Dir is &quot; `pwd`
#echo &quot;************ Parent Job Data **********************************************************&quot;
#echo &quot;--&gt; PARENT_JOB_NAME: ${PARENT_JOB_NAME}&quot;
echo &quot;--&gt; JOB_NAME:        ${JOB_NAME}&quot;
echo &quot;--&gt; IMAGE:           ${IMAGE}&quot;
#echo &quot;--&gt; CARD_TO_TEST:    ${CARD_TO_TEST}&quot;
#echo &quot;--&gt; ACTION:          ${ACTION}&quot;
echo &quot;--&gt; GIT_Branch:      ${GIT_BRANCH}&quot;
echo &quot;--&gt; GIT_Commit:      ${GIT_COMMIT}&quot;
#echo &quot;************ User Input Data **********************************************************&quot;
#echo &quot;--&gt; MY_IMAGE:        ${MY_IMAGE}&quot;
#echo &quot;--&gt; MY_CARD:         ${MY_CARD}&quot;

echo &quot;***************************************************************************************&quot;
echo &quot;Make sure i can continue, Wait until ${TESTBOX} is free&quot;
while [ 1 ]; do
  echo &quot;checking users&quot;
  nusers=`ssh fpga@${TESTBOX} who|grep -v root|wc -l`
  if [ 0 -eq $nusers ]; then
#   echo &quot;no users online, Try to Create Lock dir&quot;
    RC=0;ssh fpga@${TESTBOX} &quot;mkdir ${LOCK} 2&gt;/dev/null&quot; || RC=$?
#   echo &quot;lock RC=$RC&quot;
    if [ $RC -eq 0 ]; then break   # No User and No Lock pending
#   else echo &quot;$LOCK. pending, continue to wait&quot;
    fi
  fi
  echo &quot;${nusers} users logged on .... Waiting .... `date`&quot;
  sleep 60
done

echo &quot;${nusers} Users Logged on, Starting test at `date`&quot;
echo &quot;Copy ${TARGET_DIR} to ${TESTBOX}&quot;
pwd
rsync -az --delete . fpga@${TESTBOX}:${TARGET_DIR}

# echo &quot;System info ...&quot;
# ssh fpga@${TESTBOX} lsb_release -a

RUN=&quot;./actions/scripts/snap_jenkins.sh&quot;
if [ ! -f $RUN ]; then
	echo &quot;Shell Script $RUN not found, remove $LOCK. Exit UNSTABLE&quot;
    ssh fpga@${TESTBOX} rmdir ${LOCK}
    exit 100
fi

RUN+=&quot; -D ${TARGET_DIR}&quot;
if [ -z ${IMAGE} ]; then RUN+=&quot; -A ALL&quot;
else RUN+=&quot; -F ${IMAGE} -A ${CRD}&quot;
fi

echo &quot;***************************************************************************************&quot;
echo &quot;Build the software and actions on $TESTBOX ...&quot;
ssh fpga@${TESTBOX} make -C ${TARGET_DIR} clean software actions

echo &quot;***************************************************************************************&quot;
echo &quot; Execute Test: $RUN on $TESTBOX&quot;
RC=0
ssh -T fpga@${TESTBOX} &lt;&lt; EOF || RC=$?
	export TERM=xterm
	cd ${TARGET_DIR}
	set -f
    ${RUN} 
EOF
echo &quot;test RC=$RC, remove lock&quot;
ssh fpga@${TESTBOX} rmdir ${LOCK}
ssh fpga@${TESTBOX} date
if [ 0 -ne $RC ]; then
  echo &quot;test failed RC=$RC, exit UNSTABLE&quot;
  exit 100
else 
  echo &quot;Clean up ${TARGET_DIR} on ${TESTBOX}&quot;
  ssh -T fpga@${TESTBOX} rm -rf ${TARGET_DIR}
fi 

</command>
      <unstableReturn>100</unstableReturn>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <org.jenkinsci.plugins.github.status.GitHubCommitStatusSetter plugin="github@1.28.1">
      <commitShaSource class="org.jenkinsci.plugins.github.status.sources.BuildDataRevisionShaSource"/>
      <reposSource class="org.jenkinsci.plugins.github.status.sources.AnyDefinedRepositorySource"/>
      <contextSource class="org.jenkinsci.plugins.github.status.sources.DefaultCommitContextSource"/>
      <statusResultSource class="org.jenkinsci.plugins.github.status.sources.ConditionalStatusResultSource">
        <results>
          <org.jenkinsci.plugins.github.status.sources.misc.BetterThanOrEqualBuildResult>
            <state>SUCCESS</state>
            <message>Build and Test Successful</message>
            <result>SUCCESS</result>
          </org.jenkinsci.plugins.github.status.sources.misc.BetterThanOrEqualBuildResult>
          <org.jenkinsci.plugins.github.status.sources.misc.BetterThanOrEqualBuildResult>
            <state>ERROR</state>
            <message>Test Error</message>
            <result>UNSTABLE</result>
          </org.jenkinsci.plugins.github.status.sources.misc.BetterThanOrEqualBuildResult>
          <org.jenkinsci.plugins.github.status.sources.misc.BetterThanOrEqualBuildResult>
            <state>ERROR</state>
            <message>Image Build Error</message>
            <result>FAILURE</result>
          </org.jenkinsci.plugins.github.status.sources.misc.BetterThanOrEqualBuildResult>
          <org.jenkinsci.plugins.github.status.sources.misc.AnyBuildResult>
            <state>SUCCESS</state>
            <message>build skipped invalid configuration</message>
          </org.jenkinsci.plugins.github.status.sources.misc.AnyBuildResult>
        </results>
      </statusResultSource>
      <statusBackrefSource class="org.jenkinsci.plugins.github.status.sources.BuildRefBackrefSource"/>
      <errorHandlers/>
    </org.jenkinsci.plugins.github.status.GitHubCommitStatusSetter>
    <hudson.plugins.ws__cleanup.WsCleanup plugin="ws-cleanup@0.34">
      <patterns class="empty-list"/>
      <deleteDirs>false</deleteDirs>
      <skipWhenFailed>false</skipWhenFailed>
      <cleanWhenSuccess>true</cleanWhenSuccess>
      <cleanWhenUnstable>false</cleanWhenUnstable>
      <cleanWhenFailure>false</cleanWhenFailure>
      <cleanWhenNotBuilt>true</cleanWhenNotBuilt>
      <cleanWhenAborted>true</cleanWhenAborted>
      <notFailBuild>false</notFailBuild>
      <cleanupMatrixParent>false</cleanupMatrixParent>
      <externalDelete></externalDelete>
    </hudson.plugins.ws__cleanup.WsCleanup>
  </publishers>
  <buildWrappers>
    <hudson.plugins.build__timeout.BuildTimeoutWrapper plugin="build-timeout@1.19">
      <strategy class="hudson.plugins.build_timeout.impl.AbsoluteTimeOutStrategy">
        <timeoutMinutes>1200</timeoutMinutes>
      </strategy>
      <operationList/>
    </hudson.plugins.build__timeout.BuildTimeoutWrapper>
    <org.jenkinsci.plugins.buildnamesetter.BuildNameSetter plugin="build-name-setter@1.6.7">
      <template>#${BUILD_NUMBER} ${GIT_BRANCH}</template>
      <runAtStart>true</runAtStart>
      <runAtEnd>true</runAtEnd>
    </org.jenkinsci.plugins.buildnamesetter.BuildNameSetter>
  </buildWrappers>
  <executionStrategy class="hudson.matrix.DefaultMatrixExecutionStrategyImpl">
    <runSequentially>false</runSequentially>
    <touchStoneCombinationFilter>ACT==&quot;test&quot; &amp;&amp; CRD==&quot;ADKU3&quot;</touchStoneCombinationFilter>
    <touchStoneResultCondition>
      <name>UNSTABLE</name>
      <ordinal>1</ordinal>
      <color>YELLOW</color>
      <completeBuild>true</completeBuild>
    </touchStoneResultCondition>
  </executionStrategy>
  <childCustomWorkspace>${COMBINATION}</childCustomWorkspace>
</matrix-project>